.biker__about {
  margin-top: 2rem;
}
.biker__about__inside__container {
  position: relative;
  margin: 0.5rem;
  padding: 1rem;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 5px 15px 1px var(--very--light-background--grey);

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: rgba(128, 128, 128, 0.05);
    border-radius: var(--global-border-radius);
  }

  & img {
    max-width: 100%;
    height: 10rem;
  }
  & .about__container__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    opacity: 0.8;
  }
  & .about__container__text {
    font-size: 1rem;
  }
}
