.biker__products-section {
  height: auto;
}
.biker__products-section:hover .prev,
.biker__products-section:hover .next {
  opacity: 1;
}

.biker__products__group {
  margin: 3rem 0;
}
.products__group__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.group__list__item {
  font-size: 1.2rem;
  position: relative;
  padding: 0.3rem 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.group__list__item:hover {
  color: white;
}
.group__list__item:hover.group__list__item span {
  width: 100%;
}

.group__list__item span:nth-of-type(1) {
  height: 60%;
  width: 3px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}
.group__list__item span:nth-of-type(2) {
  height: 60%;
  width: 3px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}
.group__list__item span:nth-of-type(3) {
  height: 3px;
  width: 85%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: black;
}
.group__list__item span:nth-of-type(4) {
  height: 3px;
  width: 85%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: black;
}

.biker__products__group__mobile {
  display: none;
  margin-bottom: 10rem;
  justify-content: center;
  width: 100%;
}
.products__group__mobile__select {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  width: 18rem;
  max-width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: var(--global-border-radius);
}
.mobile__select__selector {
  margin: 0;
}
.products__group__mobile__dropdown-list {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  list-style: none;
  display: none;
  border: 1px solid black;
}

.products__group__mobile__dropdown-list.active {
  display: block;
}
.products__group__mobile__dropdown-list li {
  padding: 0.2rem 1rem;
  cursor: pointer;
}
.products__group__mobile__dropdown-list li:hover {
  color: white;
  background-color: black;
}
@media (max-width: 1000px) {
  .biker__products__group {
    display: none;
  }
  .biker__products__group__mobile {
    display: flex;
  }
}
.cards_group_container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  display: none;
  opacity: 0;
  transition: all 0.3s;
  & h3 {
    color: black;
  }
  &.active {
    display: flex;
    opacity: 1;
  }
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  z-index: 50;
  opacity: 0;
  transition: all 0.2s;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.next.inactive,
.prev.inactive {
  display: none;
  pointer-events: none;
}

.product_card_group {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 4rem 0 2rem 0;
  transition: all 0.3s;
}

.product_card_row {
  padding: 0 1rem 0 1rem;
  --gap: 80px;
  row-gap: calc(var(--gap) * 2);
  column-gap: var(--gap);
}

.product_card_positioner {
  transform: translateY(-10%);
}

.product_card_wrapper {
  position: relative;
  text-align: center;
  padding: 0 2rem 0 2rem;
  flex: 1 1 calc(25% - var(--gap));
  max-width: 25%;
  box-shadow: 0 5px 15px 1px var(--very--light-background--grey);
  border-radius: var(--global-border-radius);
  height: auto;
  transition: all 0.5s;
}
.product_card_wrapper:hover {
  transform: translateY(-10px);
}
.product_card_wrapper::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: var(--global-border-radius);
}
.product_card_wrapper p {
  margin-bottom: 1rem;
}

.product_card_img_wrapper {
  display: flex;
  justify-content: center;
}
.product_card_img_wrapper img {
  max-width: 70%;
}

.product_card_name {
  font-weight: 700;
  font-size: 1.5rem;
}

.product_card_description {
  font-size: 0.75rem;
  opacity: 0.8;
}

.product_card_price {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: red;
}

.product_card_buttons_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  & .custom_button {
    box-shadow: none;
  }
  & i {
    font-size: 1.5rem;
    padding: 0.3rem 0.3rem;
  }
}

@media (max-width: 1500px) {
  .product_card_wrapper {
    flex: 1 1 calc(50% - var(--gap));
    max-width: 50%;
  }

  .prev,
  .next {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .product_card_wrapper {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
